{% extends "base.html" %}
{% block content %}
<h2>Book a Pickup</h2>
<form method="POST">
  <label>Name:</label><br><input name="name" required><br><br>
  <label>Phone:</label><br><input name="phone" required><br><br>
  <label>Category:</label><br>
  <select name="category" required>
    <option>Medical</option>
    <option>Household</option><option>E-Waste</option><option>Others</option>
  </select><br><br>
  <label>Address:</label><br><textarea name="address" required></textarea><br><br>
  <label>Pickup Date:</label><br><input type="date" name="pickup_date" min="{{ today }}" required><br><br>
  <label>Pickup Time:</label><br>
  <select name="pickup_time" required>
    <option>8:00 AM - 10:00 AM</option><option>10:00 AM - 12:00 PM</option>
    <option>12:00 PM - 2:00 PM</option><option>2:00 PM - 4:00 PM</option>
  </select><br><br>
  <button class="btn" type="submit">Submit Booking</button>
</form>
{% endblock %}